*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
  height: auto;
}

header {
    
}

.nav-bar {
    
}

hr {
    
}

h1.main {

}

.container {
    
}

#main-image {
    
}

#titles {
    
}

article {
    
}

#real-photo {
    
}

footer {
    
}

h2 {
    
}

#contacts {
    
} 

div.contact-element {
    
}

h3 {
    
}

div.projects {
    
}

div.project-image {
    
}

div.project-text {
    
}

@media