*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3D7FFF;
    font-family: 'Special Elite', cursive;
}

header {
    display: flex;
    justify-content: space-evenly;
}

a:link, a:visited {
    color: #FFFFFF;
}

.nav-bar {
    margin: 0.5rem;
    padding: 1rem;
    background-color: #000000;
    font-color: #FFFFFF;
    border-radius: 2px;
}

hr {
    margin: 0.5rem auto;
    width: 85vw;
    border: 0.1rem solid #000000;
    border-radius: 5px;
}

.container {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns:1fr;
    justify-items: center;
}

#main-title {
/*    do something with this once we've done fonts*/
}

#main-image {
/*    might not need this*/
}

main {
    width: 85vw;
    margin: auto;
    background-color: #E7AC16;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.titles {
/*    do when done fonts*/
}

article {
    padding: 2rem;
/*    do rest when done fonts*/
}

#real-photo {
/*    might not need this*/
}

footer {
    width: 90vw;
    margin: 0 auto;
    background-color: #E7AC16;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    margin: 0.5rem;
    margin-left: 1rem;
/*    yadda yadda fonts*/
}

#contacts {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
} 

div.contact-element {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#linked-in {
    align-items: flex-start;
}

#portfolio-title {
    margin-left: 5rem;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr;
}

h3 {
/*    do some stuff*/
}

div.projects {
    width: 90vw;
    margin: 0 auto;
    background-color: #E7AC16;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid #3D7FFF;
}

div.project-image {
    width: 50vw;

}

div.project-text {
    margin: 10vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;

}

@media